{
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "moduleDirectory": [
          "client/src/js",
          "client/src/sass",
          "client/build",
          "node_modules"
        ]
      }
    }
  },
  "env": {
    "jest": true
  },
  "rules": {
    "react/prefer-stateless-function": "off",
    "import/no-named-as-default": "off",
    "max-len": [
      2,
      120,
      {
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true
      }
    ],
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "required": {
        "every": [ "id" ]
      },
      "allowChildren": false
    }]
  }
}
