// =========
// == Map ==
// =========

// loc-name is in general

.map-container {
  a {
    color: $orange;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  .custom-marker {
    color: $white;
    cursor: pointer;
    height: 37px;
    padding: 3px;
    width: 32px;
  }

  .infoBox {
    background-color: white;
  }
}

.marker-content {
  margin: 2px;
}

.map {
  float: right;
  height: $map-height;
  width: 100%;
}

.gm-style .cluster img {
  border: 0;
  margin: 0;
  padding: 0;
}
