---
Name: locator-react
After:
  - locator
  - silverstripegeocoderconfig
---

Dynamic\Locator\Locator:
  radius_var: 'radius'
  category_var: 'category'
  extensions:
    - Dynamic\Locator\React\Extensions\LocatorExtension

Dynamic\Locator\LocatorController:
  extensions:
    - Dynamic\Locator\React\Extensions\LocatorControllerExtension

Dynamic\SilverStripeGeocoder\DistanceDataExtension:
  address_var: 'address'
  unit_var: 'unit'
