// ====================
// == General Layout ==
// ====================
.locator-area {
  @include make-row-no-gutter;
  flex-direction: column-reverse;
  margin: 0;
  position: relative;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  .locator-sidebar,
  .locator-search,
  .loc-list,
  .map-container {
    @include make-col-ready-no-gutter;
    box-sizing: border-box;
  }

  .locator-sidebar {
    @include make-row-no-gutter;
    flex-direction: column;
    position: relative;

    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }

    @include media-breakpoint-up(md) {
      @include make-col(5);
    }
  }

  .map-container {
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }

    @include media-breakpoint-up(md) {
      @include make-col(7);
    }
  }
}
