// ====================
// == General Layout ==
// ====================
.locator {
  @include make-row-no-gutter;
  margin: 0;
  position: relative;

  .locator-search,
  .locator-list,
  .locator-map {
    @include make-col-ready-no-gutter;
    box-sizing: border-box;
  }

  .locator-search {
    order: 1;
  }

  .locator-list {
    order: 3;

    @include media-breakpoint-up(sm) {
      max-width: 50%;
      order: 2;
    }

    @include media-breakpoint-up(lg) {
      max-width: ((5 / 12) * 100%);
    }
  }

  .locator-map {
    order: 2;

    @include media-breakpoint-up(sm) {
      max-width: 50%;
      order: 3;
    }

    @include media-breakpoint-up(lg) {
      max-width: ((7 / 12) * 100%);
    }
  }
}
