$white: #fff;
$transparent-white: rgba(255, 255, 255, .75);
$off-white: rgb(238, 238, 238);
$light-grey: #8e8e8e;
$grey: #656565;

$bright-red: #ad2118;
$dark-red: #451400;

$bright-blue: rgba(82, 168, 236, .9);
$blue: rgba(82, 168, 236, .7);

$orange: #e76737;

$map-height: 530px;
